@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f3f8fa;
  --secondary: #f0f5f4;
}

body {
  font-family: 'TimesNewRoman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'TimesNewRoman',
    monospace;
}

.active {
  border-bottom: 2px solid var(--primary);
  background-color: rgb(224, 234, 238);
}